<section class="hero">
  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <div class="circle circle-3"></div>
  <img src="assets/images/hero-vector.png" alt="hero vector" class="vector vector--hero-1 img-fluid">
  <img src="assets/images/hero-vector-2.png" alt="hero vector" class="vector vector--hero-2 img-fluid">
  <img src="assets/images/hero-vector-3.png" alt="hero vector" class="vector vector--hero-3 img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero__inner">
          <div class="hero__headline">
            <div class="ellipse ellipse-1"></div>
            <div class="ellipse ellipse-2"></div>
            <div class="ellipse ellipse-3"></div>
            <h1>{{ meta.title }}</h1>
          </div>
          <div class="hero__description">
            <p>{{ meta.description }}</p>
          </div>
          <div class="hero__action">
            <a href="" class="btn btn-primary">Get Started</a>
            <a href="" class="btn btn-outline"><img src="assets/icons/play-circle.png" alt="play circle" class="img-fluid"> Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>